{
.appVersion = "3148";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
},
{
name = Italic;
tag = ital;
}
);
classes = (
{
automatic = 1;
code = "A Aacute Abreve Acircumflex Adieresis Agrave Amacron Aogonek Aring Atilde AE B C Cacute Ccaron Ccedilla Ccircumflex Cdotaccent D Eth Dcaron Dcroat E Eacute Ebreve Ecaron Ecircumflex Edieresis Edotaccent Egrave Emacron Eogonek Schwa F G Gbreve Gcircumflex Gcommaaccent Gdotaccent H Hbar I IJ Iacute Ibreve Icircumflex Idieresis Idotaccent Igrave Imacron Iogonek Itilde J K Kcommaaccent L Lacute Lcaron Lcommaaccent Ldot Lslash M N Nacute Ncaron Ncommaaccent Ntilde Eng O Oacute Obreve Ocircumflex Odieresis Ograve Ohungarumlaut Omacron Oslash Otilde OE P Thorn Q R Racute Rcaron Rcommaaccent S Sacute Scaron Scedilla Scircumflex Scommaaccent Germandbls T Tbar Tcaron Tcedilla Tcommaaccent U Uacute Ubreve Ucircumflex Udieresis Ugrave Uhungarumlaut Umacron Uogonek Uring Utilde V W X Y Yacute Ycircumflex Ydieresis Z Zacute Zcaron Zdotaccent G.ss01";
name = Uppercase;
}
);
customParameters = (
{
name = "Use Typo Metrics";
value = 1;
},
{
name = fsType;
value = (
);
},
{
name = unicodeRanges;
value = (
0,
1,
2
);
},
{
name = "Write lastChange";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
}
);
date = "2021-10-14 10:00:00 +0000";
familyName = CLTdotCom;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn AZE;
languagesystem latn CRT;
languagesystem latn KAZ;
languagesystem latn TAT;
languagesystem latn TRK;
languagesystem latn ROM;
languagesystem latn MOL;
languagesystem latn CAT;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature sups;
feature frac;
feature ordn;
feature case;
feature ss01;
feature lnum;
feature onum;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_Other_1 {
	@CombiningTopAccents = [acutecomb brevecomb caroncomb circumflexcomb commaturnedabovecomb dieresiscomb dotaccentcomb gravecomb hungarumlautcomb macroncomb ringcomb tildecomb];
	@CombiningNonTopAccents = [cedillacomb ogonekcomb];
	sub [i j]' @CombiningTopAccents by [idotless jdotless];
	sub [i j]' @CombiningNonTopAccents @CombiningTopAccents by [idotless jdotless];
	@Markscomb = [dieresiscomb dotaccentcomb gravecomb acutecomb hungarumlautcomb circumflexcomb caroncomb brevecomb ringcomb tildecomb macroncomb];
	@MarkscombCase = [dieresiscomb.case dotaccentcomb.case gravecomb.case acutecomb.case hungarumlautcomb.case circumflexcomb.case caroncomb.case brevecomb.case ringcomb.case tildecomb.case macroncomb.case];
	sub @Markscomb @Markscomb' by @MarkscombCase;
	sub @Uppercase @Markscomb' by @MarkscombCase;
} ccmp_Other_1;

lookup ccmp_Other_2 {
	sub @Markscomb' @MarkscombCase by @MarkscombCase;
	sub @MarkscombCase @Markscomb' by @MarkscombCase;
} ccmp_Other_2;
";
tag = ccmp;
},
{
automatic = 1;
code = "lookup locl_latn_0 {
	script latn;
	language AZE;
	sub i by idotaccent;
	language CRT;
	sub i by idotaccent;
	language KAZ;
	sub i by idotaccent;
	language TAT;
	sub i by idotaccent;
	language TRK;
	sub i by idotaccent;
} locl_latn_0;

lookup locl_latn_1 {
	script latn;
	language ROM;
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
	language MOL;
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
} locl_latn_1;

lookup locl_latn_2 {
	script latn;
	language CAT;
	sub  l' periodcentered' l by ldot;
	sub  L' periodcentered' L by Ldot;
} locl_latn_2;
";
tag = locl;
},
{
automatic = 1;
code = "sub dagger by dagger.sups;
sub daggerdbl by daggerdbl.sups;
";
tag = sups;
},
{
automatic = 1;
code = "sub one slash four by onequarter;
sub one slash two by onehalf;
sub three slash four by threequarters;
";
tag = frac;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub zero.osf by zero;
sub one.osf by one;
sub two.osf by two;
sub three.osf by three;
sub four.osf by four;
sub five.osf by five;
sub six.osf by six;
sub seven.osf by seven;
sub eight.osf by eight;
sub nine.osf by nine;
";
tag = lnum;
},
{
automatic = 1;
code = "sub zero by zero.osf;
sub one by one.osf;
sub two by two.osf;
sub three by three.osf;
sub four by four.osf;
sub five by five.osf;
sub six by six.osf;
sub seven by seven.osf;
sub eight by eight.osf;
sub nine by nine.osf;
";
tag = onum;
},
{
automatic = 1;
code = "sub parenleft by parenleft.case;
sub parenright by parenright.case;
sub braceleft by braceleft.case;
sub braceright by braceright.case;
sub bracketleft by bracketleft.case;
sub bracketright by bracketright.case;
sub dieresiscomb by dieresiscomb.case;
sub dotaccentcomb by dotaccentcomb.case;
sub gravecomb by gravecomb.case;
sub acutecomb by acutecomb.case;
sub hungarumlautcomb by hungarumlautcomb.case;
sub circumflexcomb by circumflexcomb.case;
sub caroncomb by caroncomb.case;
sub brevecomb by brevecomb.case;
sub ringcomb by ringcomb.case;
sub tildecomb by tildecomb.case;
sub macroncomb by macroncomb.case;
sub zero.osf by zero;
sub one.osf by one;
sub two.osf by two;
sub three.osf by three;
sub four.osf by four;
sub five.osf by five;
sub six.osf by six;
sub seven.osf by seven;
sub eight.osf by eight;
sub nine.osf by nine;
";
tag = case;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub t t t i by t_t_t_i.liga;
sub f i by f_i;
sub f l by f_l;
sub t t by t_t.liga;
";
tag = liga;
},
{
automatic = 1;
code = "sub G by G.ss01;
sub g by g.ss01;
";
tag = ss01;
}
);
fontMaster = (
{
axesValues = (
92,
0
);
customParameters = (
{
name = paramArea;
value = "400";
},
{
name = paramDepth;
value = "16";
},
{
name = paramOver;
value = "0";
},
{
name = typoAscender;
value = 766;
},
{
name = typoDescender;
value = -234;
},
{
name = typoLineGap;
value = 202;
},
{
name = winAscent;
value = 954;
},
{
name = winDescent;
value = 248;
},
{
name = hheaAscender;
value = 766;
},
{
name = hheaDescender;
value = -234;
},
{
name = hheaLineGap;
value = 0;
},
{
name = "Master Icon Glyph Name";
value = a;
}
);
id = m01;
metricValues = (
{
over = 14;
pos = 766;
},
{
over = 14;
pos = 732;
},
{
over = 14;
pos = 572;
},
{
over = -14;
},
{
over = -14;
pos = -234;
}
);
name = Regular;
userData = {
GSCornerRadius = 40;
GSOffsetHorizontal = 10;
GSOffsetVertical = 5;
KernOnModels = (
"l l",
"n i",
"n r",
"hyphen H"
);
};
},
{
axesValues = (
140,
0
);
customParameters = (
{
name = paramArea;
value = "380";
},
{
name = paramDepth;
value = "16";
},
{
name = paramOver;
value = "0";
},
{
name = typoAscender;
value = 766;
},
{
name = typoDescender;
value = -234;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 0;
},
{
name = winDescent;
value = 0;
},
{
name = hheaAscender;
value = 766;
},
{
name = hheaDescender;
value = -234;
},
{
name = hheaLineGap;
value = 0;
},
{
name = "Master Icon Glyph Name";
value = a;
}
);
iconName = Bold;
id = "E9FB66CC-5D7A-47B2-9A25-A0E8EEF5BB81";
metricValues = (
{
over = 16;
pos = 766;
},
{
over = 16;
pos = 745;
},
{
over = 16;
pos = 586;
},
{
over = -16;
},
{
over = -16;
pos = -234;
}
);
name = Bold;
}
);
instances = (
{
axesValues = (
92,
0
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
},
{
axesValues = (
140,
0
);
instanceInterpolations = {
"E9FB66CC-5D7A-47B2-9A25-A0E8EEF5BB81" = 1;
};
isBold = 1;
name = Bold;
weightClass = 700;
}
);
kerningLTR = {
m01 = {
r = {
t = 32;
w = 22;
};
seven = {
four = -90;
seven = 30;
};
};
"E9FB66CC-5D7A-47B2-9A25-A0E8EEF5BB81" = {
r = {
t = 30;
w = 18;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = designers;
values = (
{
language = dflt;
value = "Luigi Gorlero";
},
{
language = dflt;
value = "Nunzio Mazzaferro";
}
);
},
{
key = manufacturers;
values = (
{
language = dflt;
value = Collletttivo;
}
);
},
{
key = manufacturerURL;
value = "https://collletttivo.it";
},
{
key = licenses;
values = (
{
language = dflt;
value = "SIL OpenFont License";
}
);
},
{
key = designerURL;
value = "https://www.luigigorlero.com";
},
{
key = vendorID;
value = CLT;
},
{
key = licenseURL;
value = "https://scripts.sil.org/OFL_web";
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
"0F170B98-79D9-408B-A13F-F2E42C97F8D9" = {
HH = "124";
HV = "164";
OH = "130";
OV = "170";
nV = "152";
nd = "115";
oH = "114";
oV = "156";
};
"D37369A4-F7D7-4CC7-B8C3-D5D0E9814A4A" = {
HH = "148";
HV = "196";
OH = "144";
OV = "208";
nV = "184";
nd = "140";
oH = "132";
oV = "192";
tH = "128";
};
"E9FB66CC-5D7A-47B2-9A25-A0E8EEF5BB81" = {
HH = "112";
HV = "146";
OV = "154";
nV = "140";
nd = "100";
oH = "98";
oV = "148";
tH = "86";
};
m01 = {
HH = "80";
HV = "100";
OH = "80";
OV = "108";
nV = "92";
nd = "80";
oH = "76";
oV = "96";
tH = "72";
};
};
KernOnVersion = "1.21";
};
versionMajor = 1;
versionMinor = 0;
}
