{
.appVersion = "3151";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
},
{
name = Italic;
tag = ital;
}
);
classes = (
{
automatic = 1;
code = "A Aacute Abreve Acircumflex Adieresis Agrave Amacron Aogonek Aring Atilde AE B C Cacute Ccaron Ccedilla Ccircumflex Cdotaccent D Eth Dcaron Dcroat E Eacute Ebreve Ecaron Ecircumflex Edieresis Edotaccent Egrave Emacron Eogonek Schwa F G Gbreve Gcircumflex Gcommaaccent Gdotaccent H Hbar I IJ Iacute Ibreve Icircumflex Idieresis Idotaccent Igrave Imacron Iogonek Itilde J K Kcommaaccent L Lacute Lcaron Lcommaaccent Ldot Lslash M N Nacute Ncaron Ncommaaccent Ntilde Eng O Oacute Obreve Ocircumflex Odieresis Ograve Ohungarumlaut Omacron Oslash Otilde OE P Thorn Q R Racute Rcaron Rcommaaccent S Sacute Scaron Scedilla Scircumflex Scommaaccent Germandbls T Tbar Tcaron Tcedilla Tcommaaccent U Uacute Ubreve Ucircumflex Udieresis Ugrave Uhungarumlaut Umacron Uogonek Uring Utilde V W X Y Yacute Ycircumflex Ydieresis Z Zacute Zcaron Zdotaccent Germandbls.001 G.ss01 IJ.ss01";
name = Uppercase;
}
);
customParameters = (
{
name = "Use Typo Metrics";
value = 1;
},
{
name = fsType;
value = (
);
},
{
name = unicodeRanges;
value = (
0,
1,
2
);
},
{
name = "Write lastChange";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
}
);
date = "2023-03-31 10:00:41 +0000";
familyName = Ronzino;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn AZE;
languagesystem latn CRT;
languagesystem latn KAZ;
languagesystem latn TAT;
languagesystem latn TRK;
languagesystem latn ROM;
languagesystem latn MOL;
languagesystem latn CAT;
";
name = Languagesystems;
},
{
code = "";
name = unnamed;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature subs;
feature sinf;
feature sups;
feature frac;
feature numr;
feature dnom;
feature ordn;
feature lnum;
feature onum;
feature case;
feature vert;
feature vrt2;
feature ss01;
feature pnum;
feature tnum;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_Other_1 {
	@CombiningTopAccents = [acutecomb brevecomb caroncomb circumflexcomb commaturnedabovecomb dieresiscomb dotaccentcomb gravecomb hungarumlautcomb macroncomb ringcomb tildecomb];
	@CombiningNonTopAccents = [cedillacomb ogonekcomb];
	sub [i j]' @CombiningTopAccents by [idotless jdotless];
	sub [i j]' @CombiningNonTopAccents @CombiningTopAccents by [idotless jdotless];
	@Markscomb = [dieresiscomb dotaccentcomb gravecomb acutecomb hungarumlautcomb circumflexcomb caroncomb brevecomb ringcomb tildecomb macroncomb];
	@MarkscombCase = [dieresiscomb.case dotaccentcomb.case gravecomb.case acutecomb.case hungarumlautcomb.case circumflexcomb.case caroncomb.case brevecomb.case ringcomb.case tildecomb.case macroncomb.case];
	sub @Markscomb @Markscomb' by @MarkscombCase;
	sub @Uppercase @Markscomb' by @MarkscombCase;
} ccmp_Other_1;

lookup ccmp_Other_2 {
	sub @Markscomb' @MarkscombCase by @MarkscombCase;
	sub @MarkscombCase @Markscomb' by @MarkscombCase;
} ccmp_Other_2;
";
tag = ccmp;
},
{
automatic = 1;
code = "lookup locl_latn_0 {
	script latn;
	language AZE;
	sub i by idotaccent;
	language CRT;
	sub i by idotaccent;
	language KAZ;
	sub i by idotaccent;
	language TAT;
	sub i by idotaccent;
	language TRK;
	sub i by idotaccent;
} locl_latn_0;

lookup locl_latn_1 {
	script latn;
	language ROM;
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
	language MOL;
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
} locl_latn_1;

lookup locl_latn_2 {
	script latn;
	language CAT;
	sub  l' periodcentered' l by ldot;
	sub  L' periodcentered' L by Ldot;
} locl_latn_2;
";
tag = locl;
},
{
automatic = 1;
code = "sub zero by zeroinferior;
sub one by oneinferior;
sub two by twoinferior;
sub three by threeinferior;
sub four by fourinferior;
sub five by fiveinferior;
sub six by sixinferior;
sub seven by seveninferior;
sub eight by eightinferior;
sub nine by nineinferior;
sub parenleft by parenleftinferior;
sub parenright by parenrightinferior;
sub equal by equalinferior;
sub minus by minusinferior;
sub plus by plusinferior;
";
tag = subs;
},
{
automatic = 1;
code = "sub zero by zeroinferior;
sub one by oneinferior;
sub two by twoinferior;
sub three by threeinferior;
sub four by fourinferior;
sub five by fiveinferior;
sub six by sixinferior;
sub seven by seveninferior;
sub eight by eightinferior;
sub nine by nineinferior;
sub parenleft by parenleftinferior;
sub parenright by parenrightinferior;
sub equal by equalinferior;
sub minus by minusinferior;
sub plus by plusinferior;
";
tag = sinf;
},
{
automatic = 1;
code = "sub zero by zerosuperior;
sub one by onesuperior;
sub two by twosuperior;
sub three by threesuperior;
sub four by foursuperior;
sub five by fivesuperior;
sub six by sixsuperior;
sub seven by sevensuperior;
sub eight by eightsuperior;
sub nine by ninesuperior;
sub dagger by dagger.sups;
sub daggerdbl by daggerdbl.sups;
";
tag = sups;
},
{
code = "@figDefault = [zero one two three four five six seven eight nine];
@figNumer = [zero.numr one.numr two.numr three.numr four.numr five.numr six.numr seven.numr eight.numr nine.numr];
@figDenom = [zero.dnom one.dnom two.dnom three.dnom four.dnom five.dnom six.dnom seven.dnom eight.dnom nine.dnom];

lookup FractionBar {
     ignore sub slash @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash';
     ignore sub slash' @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash;
     ignore sub slash @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash';
     ignore sub slash' @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash;
     ignore sub slash @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash';
     ignore sub slash' @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash;
     ignore sub slash @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash';
     ignore sub slash' @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash;
     ignore sub slash @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash';
     ignore sub slash' @figDefault @figDefault @figDefault @figDefault @figDefault @figDefault slash;
     ignore sub slash @figDefault @figDefault @figDefault @figDefault @figDefault slash';
     ignore sub slash' @figDefault @figDefault @figDefault @figDefault @figDefault slash;
     ignore sub slash @figDefault @figDefault @figDefault @figDefault slash';
     ignore sub slash' @figDefault @figDefault @figDefault @figDefault slash;
     ignore sub slash @figDefault @figDefault @figDefault slash';
     ignore sub slash' @figDefault @figDefault @figDefault slash;
     ignore sub slash @figDefault @figDefault slash';
     ignore sub slash' @figDefault @figDefault slash;
     ignore sub slash @figDefault slash';
     ignore sub slash' @figDefault slash;
     sub @figDefault slash' @figDefault by fraction;
} FractionBar;

lookup Numerator1 {
     sub @figDefault' fraction by @figNumer;
} Numerator1;

lookup Numerator2 {
     sub @figDefault' @figNumer fraction by @figNumer;
} Numerator2;

lookup Numerator3 {
     sub @figDefault' @figNumer @figNumer fraction by @figNumer;
} Numerator3;

lookup Numerator4 {
     sub @figDefault' @figNumer @figNumer @figNumer fraction by @figNumer;
} Numerator4;

lookup Numerator5 {
     sub @figDefault' @figNumer @figNumer @figNumer @figNumer fraction by @figNumer;
} Numerator5;

lookup Numerator6 {
     sub @figDefault' @figNumer @figNumer @figNumer @figNumer @figNumer fraction by @figNumer;
} Numerator6;

lookup Numerator7 {
     sub @figDefault' @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer fraction by @figNumer;
} Numerator7;

lookup Numerator8 {
     sub @figDefault' @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer fraction by @figNumer;
} Numerator8;

lookup Numerator9 {
     sub @figDefault' @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer fraction by @figNumer;
} Numerator9;

lookup Numerator10 {
     sub @figDefault' @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer fraction by @figNumer;
} Numerator10;

lookup Numerator11 {
     sub @figDefault' @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer fraction by @figNumer;
} Numerator11;

lookup Numerator12 {
     sub @figDefault' @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer @figNumer fraction by @figNumer;
} Numerator12;

lookup Denominator {
     sub [fraction @figDenom] @figDefault' by @figDenom;
} Denominator;

sub @figDefault space' @figNumer by thinspace;";
tag = frac;
},
{
automatic = 1;
code = "sub zero by zero.numr;
sub one by one.numr;
sub two by two.numr;
sub three by three.numr;
sub four by four.numr;
sub five by five.numr;
sub six by six.numr;
sub seven by seven.numr;
sub eight by eight.numr;
sub nine by nine.numr;
";
tag = numr;
},
{
automatic = 1;
code = "sub zero by zero.dnom;
sub one by one.dnom;
sub two by two.dnom;
sub three by three.dnom;
sub four by four.dnom;
sub five by five.dnom;
sub six by six.dnom;
sub seven by seven.dnom;
sub eight by eight.dnom;
sub nine by nine.dnom;
";
tag = dnom;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub zero.osf by zero;
sub one.osf by one;
sub two.osf by two;
sub three.osf by three;
sub four.osf by four;
sub five.osf by five;
sub six.osf by six;
sub seven.osf by seven;
sub eight.osf by eight;
sub nine.osf by nine;
";
tag = lnum;
},
{
automatic = 1;
code = "sub zero.tf by zero;
sub one.tf by one;
sub two.tf by two;
sub three.tf by three;
sub four.tf by four;
sub five.tf by five;
sub six.tf by six;
sub seven.tf by seven;
sub eight.tf by eight;
sub nine.tf by nine;
";
tag = pnum;
},
{
automatic = 1;
code = "sub zero by zero.tf;
sub one by one.tf;
sub two by two.tf;
sub three by three.tf;
sub four by four.tf;
sub five by five.tf;
sub six by six.tf;
sub seven by seven.tf;
sub eight by eight.tf;
sub nine by nine.tf;
";
tag = tnum;
},
{
automatic = 1;
code = "sub zero by zero.osf;
sub one by one.osf;
sub two by two.osf;
sub three by three.osf;
sub four by four.osf;
sub five by five.osf;
sub six by six.osf;
sub seven by seven.osf;
sub eight by eight.osf;
sub nine by nine.osf;
";
tag = onum;
},
{
automatic = 1;
code = "sub parenleft by parenleft.case;
sub parenright by parenright.case;
sub braceleft by braceleft.case;
sub braceright by braceright.case;
sub bracketleft by bracketleft.case;
sub bracketright by bracketright.case;
sub dieresiscomb by dieresiscomb.case;
sub dotaccentcomb by dotaccentcomb.case;
sub gravecomb by gravecomb.case;
sub acutecomb by acutecomb.case;
sub hungarumlautcomb by hungarumlautcomb.case;
sub circumflexcomb by circumflexcomb.case;
sub caroncomb by caroncomb.case;
sub brevecomb by brevecomb.case;
sub ringcomb by ringcomb.case;
sub tildecomb by tildecomb.case;
sub macroncomb by macroncomb.case;
sub zero.osf by zero;
sub one.osf by one;
sub two.osf by two;
sub three.osf by three;
sub four.osf by four;
sub five.osf by five;
sub six.osf by six;
sub seven.osf by seven;
sub eight.osf by eight;
sub nine.osf by nine;
";
tag = case;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub t t t i by t_t_t_i.liga;
sub f i by f_i;
sub f l by f_l;
sub t t by t_t.liga;
";
tag = liga;
},
{
automatic = 1;
code = "sub emdash by emdash.vert;
";
tag = vert;
},
{
automatic = 1;
code = "sub emdash by emdash.vert;
";
tag = vrt2;
},
{
automatic = 1;
code = "sub G by G.ss01;
sub IJ by IJ.ss01;
sub g by g.ss01;
sub ampersand by ampersand.ss01;
";
labels = (
{
language = dflt;
value = "";
}
);
tag = ss01;
}
);
fontMaster = (
{
axesValues = (
92,
0
);
customParameters = (
{
name = paramArea;
value = "400";
},
{
name = paramDepth;
value = "16";
},
{
name = paramOver;
value = "0";
},
{
name = typoAscender;
value = 912;
},
{
name = typoDescender;
value = -233;
},
{
name = typoLineGap;
value = 130;
},
{
name = winAscent;
value = 912;
},
{
name = winDescent;
value = 287;
},
{
name = hheaAscender;
value = 912;
},
{
name = hheaDescender;
value = -233;
},
{
name = hheaLineGap;
value = 130;
},
{
name = "Master Icon Glyph Name";
value = a;
}
);
id = m01;
metricValues = (
{
over = 12;
pos = 712;
},
{
over = 14;
pos = 680;
},
{
over = 12;
pos = 532;
},
{
over = -14;
},
{
over = -12;
pos = -218;
},
{
over = 12;
pos = 682;
},
{
over = 12;
pos = 552;
},
{
over = -12;
pos = -114;
}
);
name = Regular;
stemValues = (
67,
86
);
userData = {
GSCornerRadius = 40;
GSOffsetHorizontal = 8;
GSOffsetVertical = 4;
KernOnModels = (
"l l",
"n i",
"n r",
"hyphen H"
);
};
},
{
axesValues = (
140,
0
);
customParameters = (
{
name = paramArea;
value = "380";
},
{
name = paramDepth;
value = "16";
},
{
name = paramOver;
value = "0";
},
{
name = typoAscender;
value = 912;
},
{
name = typoDescender;
value = -233;
},
{
name = typoLineGap;
value = 130;
},
{
name = winAscent;
value = 912;
},
{
name = winDescent;
value = 287;
},
{
name = hheaAscender;
value = 912;
},
{
name = hheaDescender;
value = -233;
},
{
name = hheaLineGap;
value = 130;
},
{
name = "Master Icon Glyph Name";
value = a;
}
);
iconName = Bold;
id = "E9FB66CC-5D7A-47B2-9A25-A0E8EEF5BB81";
metricValues = (
{
over = 12;
pos = 712;
},
{
over = 14;
pos = 692;
},
{
over = 12;
pos = 544;
},
{
over = -14;
},
{
over = -12;
pos = -218;
},
{
},
{
},
{
}
);
name = Bold;
stemValues = (
84,
130
);
userData = {
GSOffsetHorizontal = -5;
GSOffsetProportional = 1;
GSOffsetVertical = -2;
};
}
);
instances = (
{
axesValues = (
92,
0
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
},
{
axesValues = (
115,
0
);
exports = 0;
instanceInterpolations = {
"E9FB66CC-5D7A-47B2-9A25-A0E8EEF5BB81" = 0.47917;
m01 = 0.52083;
};
name = Medium;
weightClass = 500;
},
{
axesValues = (
140,
0
);
instanceInterpolations = {
"E9FB66CC-5D7A-47B2-9A25-A0E8EEF5BB81" = 1;
};
isBold = 1;
name = Bold;
weightClass = 700;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
filter = "name ENDSWITH \".osf\"";
name = "Oldstyle Figures Ascenders";
},
{
filter = "name ENDSWITH \".osf\"";
name = "Oldstyle Figures x-Height";
},
{
filter = "name ENDSWITH \".osf\"";
name = "Oldstyle Figures Descender";
}
);
properties = (
{
key = designers;
values = (
{
language = dflt;
value = "Luigi Gorlero";
},
{
language = dflt;
value = "Nunzio Mazzaferro";
}
);
},
{
key = manufacturers;
values = (
{
language = dflt;
value = Collletttivo;
}
);
},
{
key = manufacturerURL;
value = "https://collletttivo.it";
},
{
key = licenses;
values = (
{
language = dflt;
value = "SIL OpenFont License";
}
);
},
{
key = designerURL;
value = "https://www.luigigorlero.com";
},
{
key = vendorID;
value = CLT;
},
{
key = licenseURL;
value = "https://scripts.sil.org/OFL_web";
}
);
stems = (
{
horizontal = 1;
name = Vertical;
},
{
name = Horizontal;
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
"0F170B98-79D9-408B-A13F-F2E42C97F8D9" = {
HH = "124";
HV = "164";
OH = "130";
OV = "170";
nV = "152";
nd = "115";
oH = "114";
oV = "156";
};
"D37369A4-F7D7-4CC7-B8C3-D5D0E9814A4A" = {
HH = "148";
HV = "196";
OH = "144";
OV = "208";
nV = "184";
nd = "140";
oH = "132";
oV = "192";
tH = "128";
};
"E9FB66CC-5D7A-47B2-9A25-A0E8EEF5BB81" = {
HH = "108";
HV = "144";
OH = "108";
OV = "152";
nV = "132";
nd = "72";
oH = "90";
oV = "140";
tH = "90";
};
m01 = {
HH = "76";
HV = "94";
OH = "80";
OV = "100";
nV = "86";
nd = "66";
oH = "70";
oV = "90";
tH = "68";
};
};
KernOnVersion = "1.21";
};
versionMajor = 1;
versionMinor = 0;
}
