(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Ddotbelow,
Dmacronbelow,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hbrevebelow,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
K,
Kcommaaccent,
Kmacronbelow,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
G.ss03,
I_J.dlig,
I_J.dlig.ss06,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
dmacronbelow,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hbrevebelow,
hdotbelow,
hmacronbelow,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
k,
kcommaaccent,
kgreenlandic,
kmacronbelow,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
obreve,
ocaron,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
longs,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
m.001,
a.ss01,
aacute.ss01,
abreve.ss01,
acaron.ss01,
acircumflex.ss01,
adieresis.ss01,
agrave.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
g.ss02,
gbreve.ss02,
gcaron.ss02,
gcircumflex.ss02,
gcommaaccent.ss02,
gdotaccent.ss02,
gmacron.ss02,
f_i,
f_l,
t_t.liga,
t_t_t_i.liga,
a.sc,
aacute.sc,
abreve.sc,
acircumflex.sc,
adieresis.sc,
agrave.sc,
amacron.sc,
aogonek.sc,
aring.sc,
atilde.sc,
b.sc,
c.sc,
cacute.sc,
ccaron.sc,
ccedilla.sc,
d.sc,
dcaron.sc,
dcroat.sc,
eth.sc,
e.sc,
eacute.sc,
ecaron.sc,
ecircumflex.sc,
edieresis.sc,
edotaccent.sc,
egrave.sc,
emacron.sc,
eogonek.sc,
f.sc,
g.sc,
gbreve.sc,
gcommaaccent.sc,
h.sc,
i.sc,
iacute.sc,
icircumflex.sc,
idieresis.sc,
idotaccent.sc,
igrave.sc,
imacron.sc,
iogonek.sc,
j.sc,
k.sc,
kcommaaccent.sc,
l.sc,
lacute.sc,
lcaron.sc,
lcommaaccent.sc,
lslash.sc,
m.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncommaaccent.sc,
ntilde.sc,
o.sc,
oacute.sc,
ocircumflex.sc,
odieresis.sc,
ograve.sc,
ohungarumlaut.sc,
omacron.sc,
oslash.sc,
otilde.sc,
p.sc,
q.sc,
r.sc,
racute.sc,
rcaron.sc,
rcommaaccent.sc,
s.sc,
sacute.sc,
scaron.sc,
scedilla.sc,
scommaaccent.sc,
t.sc,
tcaron.sc,
tcedilla.sc,
tcommaaccent.sc,
u.sc,
uacute.sc,
ucircumflex.sc,
udieresis.sc,
ugrave.sc,
uhungarumlaut.sc,
umacron.sc,
uogonek.sc,
uring.sc,
v.sc,
w.sc,
x.sc,
y.sc,
yacute.sc,
ydieresis.sc,
z.sc,
zacute.sc,
zcaron.sc,
zdotaccent.sc,
ordfeminine,
ordmasculine,
"a-nko",
"a-nko.fina",
"a-nko.medi",
"a-nko.init",
"ee-nko",
"ee-nko.fina",
"ee-nko.medi",
"ee-nko.init",
"i-nko",
"i-nko.fina",
"i-nko.medi",
"i-nko.init",
"e-nko",
"e-nko.fina",
"e-nko.medi",
"e-nko.init",
"u-nko",
"u-nko.fina",
"u-nko.medi",
"u-nko.init",
"oo-nko",
"oo-nko.fina",
"oo-nko.medi",
"oo-nko.init",
"o-nko",
"o-nko.fina",
"o-nko.medi",
"o-nko.init",
"dagbasinna-nko",
"dagbasinna-nko.fina",
"dagbasinna-nko.medi",
"dagbasinna-nko.init",
"n-nko",
"n-nko.fina",
"n-nko.medi",
"n-nko.init",
"ba-nko",
"ba-nko.fina",
"ba-nko.medi",
"ba-nko.init",
"pa-nko",
"pa-nko.fina",
"pa-nko.medi",
"pa-nko.init",
"ta-nko",
"ta-nko.fina",
"ta-nko.medi",
"ta-nko.init",
"ja-nko",
"ja-nko.fina",
"ja-nko.medi",
"ja-nko.init",
"cha-nko",
"cha-nko.fina",
"cha-nko.medi",
"cha-nko.init",
"da-nko",
"da-nko.fina",
"da-nko.medi",
"da-nko.init",
"ra-nko",
"ra-nko.fina",
"ra-nko.medi",
"ra-nko.init",
"rra-nko",
"rra-nko.fina",
"rra-nko.medi",
"rra-nko.init",
"sa-nko",
"sa-nko.fina",
"sa-nko.medi",
"sa-nko.init",
"gba-nko",
"gba-nko.fina",
"gba-nko.medi",
"gba-nko.init",
"fa-nko",
"fa-nko.fina",
"fa-nko.medi",
"fa-nko.init",
"ka-nko",
"ka-nko.fina",
"ka-nko.medi",
"ka-nko.init",
"la-nko",
"la-nko.fina",
"la-nko.medi",
"la-nko.init",
"nawoloso-nko",
"nawoloso-nko.fina",
"nawoloso-nko.medi",
"nawoloso-nko.init",
"ma-nko",
"ma-nko.fina",
"ma-nko.medi",
"ma-nko.init",
"nya-nko",
"nya-nko.fina",
"nya-nko.medi",
"nya-nko.init",
"na-nko",
"na-nko.fina",
"na-nko.medi",
"na-nko.init",
"ha-nko",
"ha-nko.fina",
"ha-nko.medi",
"ha-nko.init",
"wa-nko",
"wa-nko.fina",
"wa-nko.medi",
"wa-nko.init",
"ya-nko",
"ya-nko.fina",
"ya-nko.medi",
"ya-nko.init",
"nyawoloso-nko",
"nyawoloso-nko.fina",
"nyawoloso-nko.medi",
"nyawoloso-nko.init",
"jonaja-nko",
"jonaja-nko.fina",
"jonaja-nko.medi",
"jonaja-nko.init",
"jonacha-nko",
"jonacha-nko.fina",
"jonacha-nko.medi",
"jonacha-nko.init",
"jonara-nko",
"jonara-nko.fina",
"jonara-nko.medi",
"jonara-nko.init",
"hightoneapostrophe-nko",
"lowtoneapostrophe-nko",
"lajanyalan-nko",
"ya-tifi",
"yab-tifi",
"yabh-tifi",
"yag-tifi",
"yaghh-tifi",
"yajBerberacademy-tifi",
"yaj-tifi",
"yad-tifi",
"yadh-tifi",
"yadd-tifi",
"yaddh-tifi",
"yey-tifi",
"yaf-tifi",
"yak-tifi",
"yakTuareg-tifi",
"yakhh-tifi",
"yah-tifi",
"yahBerberacademy-tifi",
"yahTuareg-tifi",
"yahh-tifi",
"yaa-tifi",
"yakh-tifi",
"yakhTuareg-tifi",
"yaq-tifi",
"yaqTuareg-tifi",
"yi-tifi",
"yazh-tifi",
"yazhAhaggar-tifi",
"yazhTuareg-tifi",
"yal-tifi",
"yam-tifi",
"yan-tifi",
"yagnTuareg-tifi",
"yangTuareg-tifi",
"yap-tifi",
"yu-tifi",
"yar-tifi",
"yarr-tifi",
"yagh-tifi",
"yaghTuareg-tifi",
"yaghAyer-tifi",
"yas-tifi",
"yass-tifi",
"yash-tifi",
"yat-tifi",
"yath-tifi",
"yach-tifi",
"yatt-tifi",
"yav-tifi",
"yaw-tifi",
"yay-tifi",
"yaz-tifi",
"yazTawellemet-tifi",
"yazz-tifi",
"ye-tifi",
"yo-tifi",
"yag-tifi.ss05",
"yaghh-tifi.ss05",
"yajBerberacademy-tifi.ss05",
"yav-tifi.ss05",
"yak-tifi.001",
"yakhh-tifi.001",
"yaq-tifi.001",
"yi-tifi.001",
"yay-tifi.001",
"labialization-tifi",
"zero-nko",
"one-nko",
"two-nko",
"three-nko",
"four-nko",
"five-nko",
"six-nko",
"seven-nko",
"eight-nko",
"nine-nko",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onefraction,
onehalf,
zerothird,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
narrownbspace,
.notdef,
"separator-tifi",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
exclamdouble,
numbersign,
slash,
backslash,
asterisk.ss04,
hyphen,
softhyphen,
endash,
emdash,
horizontalbar,
hyphentwo,
underscore,
hyphen.case,
parenleftinferior,
parenrightinferior,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
apple,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
daggerdbl,
at.case,
dagger.sups,
daggerdbl.sups,
cent,
currency,
dollar,
euro,
sterling,
yen,
equalinferior,
equivalence,
minusinferior,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
micro,
percent,
perthousand,
plusinferior,
downBlackTriangle,
"shorthightonecomb-nko",
"shortlowtonecomb-nko",
"shortrisingtonecomb-nko",
"longdescendingtonecomb-nko",
"longhightonecomb-nko",
"longlowtonecomb-nko",
"longrisingtonecomb-nko",
"nasalizationcomb-nko",
"doubledotabovecomb-nko",
"dantayalan-nko",
"consonantjoiner-tifi",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
dieresiscomb.sc,
dotaccentcomb.sc,
gravecomb.sc,
acutecomb.sc,
hungarumlautcomb.sc,
caroncomb.alt.sc,
circumflexcomb.sc,
caroncomb.sc,
brevecomb.sc,
ringcomb.sc,
tildecomb.sc,
macroncomb.sc,
commaturnedabovecomb.sc,
dotbelowcomb.sc,
commaaccentcomb.sc,
cedillacomb.sc,
ogonekcomb.sc,
brevebelowcomb.sc,
macronbelowcomb.sc,
strokeshortcomb,
slashshortcomb,
slashlongcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
uniE01B,
uniE04E,
multidimcit,
omissis
)